# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtuele omgeving
venv/
env/
ENV/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Media uploads (die mogen niet in Git)
media/

# Static files die verzameld worden met collectstatic
staticfiles/

# VSCode/IDE bestanden
.vscode/
.idea/

# MacOS
.DS_Store

# PyCharm
*.iml

# Env vars
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
