{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/theme_v2_base.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/display_message.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/theme_v2_cards.css' %}"> -->
    <!-- google icons -->
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="small-device-nav">
            <div class="navbar-brand">
                <a href="#">Your Logo</a>
            </div>
            <div class="burger" id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <!-- Desktop navigation -->
        <div class="large-device-nav">
            <div class="navbar-brand">
                <a href="#">Your Logo</a>
            </div>
            <ul class="desktop-nav-links">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn {% if page == 'subscribed_stores' %}active{% endif %}" href="/deals/stores-subscriptions/">Winkels</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="btn {% if page == 'all-deals' %}active{% endif %}" href="/deals/all">Alle Deals</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="btn {% if page == 'public-deals' %}active{% endif %}" href="/deals/public/">
                            {% if user.is_staff %}
                                Publieke Sales
                            {% else %}
                                Alle sales
                            {% endif %}
                        </a>
                    </li>

                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="btn {% if page == 'personal-deals' %}active{% endif %}" href="/deals/personal/">Persoonlijke Sales</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn {% if page == 'client-deals' %}active{% endif %}" href="/deals/my-sales/">Mijn Sales</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="btn {% if page == 'store-manager' %}active{% endif %}" href="/deals/stores-manager/">Stores</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="btn {% if page == 'index' %}active{% endif %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn {% if page == 'contact' %}active{% endif %}" href="/contact/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn {% if page == 'about' %}active{% endif %}" href="/about/">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn {% if page == 'sign-up' %}active{% else %}signup-link-nav{% endif %}" href="/accounts/signup/">Meld je aan</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn {% if page == 'login' %}active{% endif %}" href="/accounts/login/">Inloggen</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="nav-overlay" id="navOverlay">
        <ul class="nav-links nav-list"> {# Added nav-list class here #}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn {% if page == 'subscribed_stores' %}active{% endif %}" href="/deals/stores-subscriptions/">Winkels</a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="btn {% if page == 'all-deals' %}active{% endif %}" href="/deals/all">Alle Deals</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn {% if page == 'public-deals' %}active{% endif %}" href="/deals/public/">
                        {% if user.is_staff %}
                            Publieke Sales
                        {% else %}
                            Alle sales
                        {% endif %}
                    </a>
                </li>

                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="btn {% if page == 'personal-deals' %}active{% endif %}" href="/deals/personal/">Persoonlijke Sales</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn {% if page == 'client-deals' %}active{% endif %}" href="/deals/my-sales/">Mijn Sales</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="btn {% if page == 'store-manager' %}active{% endif %}" href="/deals/stores-manager/">Stores</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="btn {% if page == 'index' %}active{% endif %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn {% if page == 'contact' %}active{% endif %}" href="/contact/">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="btn {% if page == 'about' %}active{% endif %}" href="/about/">About us</a>
                </li>
                <li class="nav-item">
                    <a class="btn {% if page == 'sign-up' %}active{% endif %}" href="/accounts/register/">About us</a>
                </li>
                <li class="nav-item">
                    <a class="btn {% if page == 'login' %}active{% endif %}" href="/accounts/login/">About us</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="message-container success-message" id="successMessage">
        <p class="message-text"></p>
    </div>
    <div class="message-container error-message" id="errorMessage">
        <p class="message-text"></p>
        <span class="close-btn">&times;</span> {# Using times character for a simple cross #}
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>

    </footer>

    <button id="small-screen-action-btn" class="action-btn" onclick="">Naar sale</button>
    {% block overlay_content %}{% endblock %}
    {% block pop_up_content %}{% endblock %}

</body>
{% block scripts %}{% endblock %}
</html>